<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
    <meta name="description" content="my personal web page">
    <meta name="author" content="">
    <title>Rajesh Kumar Jha</title>
    <!-- Bootstrap core CSS -->
    <link href="./public/css/style.css" rel="stylesheet">
    <script data-main="./assets/js/config" src="./bower_components/requirejs/require.js"></script>
  </head>
  <body ng-controller="mainCtrl">  
	<nav class="top-nav">
		<div class="content row">
			<div class=" col-2"><h1 class="logo">{{profile.name.firstname}}</h1></div>  
			<div class="top-right col-10">
				<ul class="navbar">
					<li ng-repeat="link in links"><a ng-href="#{{link.href}}" >{{link.title}}</a></li>
				</ul>
			</div>
		</div>		
	</nav>
    <div class="container" >
      <ui-view></ui-view>      
    </div>
	<div class="footer">
		<p class="text-center copyright">Copyright 2014 Rajesh - Built With Passion</p>
		<ul class="social">
			<li ng-repeat="item in profile.social"><a href="{{item.url}}"><i class="fa fa-{{item.title}}"></i></a></li>			
		</ul>
	</div>
  </body>
</html>
