$full-width : 100%;
$base-font-size : 14px;

//Font faces
$roboto-bold : roboto-bold;
$roboto-black : roboto-black;
$roboto-black-italic : roboto-black-italic;
$roboto-regular : roboto-regular;
$roboto-boldcndenseditalic : roboto-boldcndenseditalic;
$roboto-bolditalic : roboto-bolditalic;
$roboto-cndensed : roboto-cndensed;
$roboto-cndenseditalic : roboto-cndenseditalic;
$roboto-italic : roboto-italic;
$roboto-light : roboto-light;
$roboto-lightitalic : roboto-lightitalic;
$roboto-medium : roboto-medium;
$roboto-mediumitalic : roboto-mediumitalic;
$roboto-regular : roboto-regular;
$roboto-thin : roboto-thin;
$roboto-thinitalic : roboto-thinitalic;




@font-face {
    font-family: $roboto-bold;
    src: url('../../assets/fonts/roboto/woff/Roboto-Bold.woff') format('woff');
}
@font-face {
    font-family: $roboto-black;
    src: url('../../assets/fonts/roboto/woff/Roboto-Black.woff') format('woff');
}
@font-face {
    font-family: $roboto-black-italic;
    src: url('../../assets/fonts/roboto/woff/Roboto-BlackItalic.woff') format('woff');
}
@font-face {
    font-family: $roboto-regular;
    src: url('../../assets/fonts/roboto/woff/Roboto-BoldCondensed.woff') format('woff');
}
@font-face {
    font-family: $roboto-boldcndenseditalic;
    src: url('../../assets/fonts/roboto/woff/Roboto-BoldCondensedItalic.woff') format('woff');
}
@font-face {
    font-family: $roboto-bolditalic;
    src: url('../../assets/fonts/roboto/woff/Roboto-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: $roboto-cndensed;
    src: url('../../assets/fonts/roboto/woff/Roboto-Condensed.woff') format('woff');
}
@font-face {
    font-family: $roboto-cndenseditalic;
    src: url('../../assets/fonts/roboto/woff/Roboto-CondensedItalic.woff') format('woff');
}
@font-face {
    font-family: $roboto-italic;
    src: url('../../assets/fonts/roboto/woff/Roboto-Italic.woff') format('woff');
}
@font-face {
    font-family: $roboto-light;
    src: url('../../assets/fonts/roboto/woff/Roboto-Light.woff') format('woff');
}
@font-face {
    font-family: $roboto-italic;
    src: url('../../assets/fonts/roboto/woff/Roboto-Italic.woff') format('woff');
}
@font-face {
    font-family: $roboto-lightitalic;
    src: url('../../assets/fonts/roboto/woff/Roboto-LightItalic.woff') format('woff');
}
@font-face {
    font-family: $roboto-medium;
    src: url('../../assets/fonts/roboto/woff/Roboto-Medium.woff') format('woff');
}
@font-face {
    font-family: $roboto-mediumitalic;
    src: url('../../assets/fonts/roboto/woff/Roboto-MediumItalic.woff') format('woff');
}
@font-face {
    font-family: $roboto-regular;
    src: url('../../assets/fonts/roboto/woff/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: $roboto-thin;
    src: url('../../assets/fonts/roboto/woff/Roboto-Thin.woff') format('woff');
}
@font-face {
    font-family: $roboto-thinitalic;
    src: url('../../assets/fonts/roboto/woff/Roboto-ThinItalic.woff') format('woff');
}


