.top-nav{
	height: 70px;
	background-color: $dark-green;
	text-transform: uppercase;
	.logo{
		font-size: 30px;
		font-family: $roboto-bold;
		color: $green;
	}
	.logo:first-letter{
		background-color: $grey;
		color: $white;
		padding: 6px 15px;
		margin-right: 5px;
	}
	.navbar{
		text-align: right;
		padding: 15px 0;
		
		li{
			display: inline;
			padding: 0 15px;
		}
		li:last-child {
		    padding-right: 0;
		}
		a{
			font-size: 16px;
			color: $white;
			font-family: $roboto-bold;
			text-decoration: none;
		}
		a:hover{
			color: $green;
		}
	}
}
.about-me {
  background: #FCFAF4 url("../../assets/images/profile.jpg") no-repeat scroll -140px 0;
  display: block;
  height: 610px;
}
.footer{
	background-color: #252e30;
	height: 100px;
	text-transform: uppercase;
	padding-top:20px;
}

