<section class="content" ng-if="articles.length">
	<div class="row">
		<article class="col-4" ng-repeat="article in articles">
			<h2 class="text-center">{{article.title}}</h2>
			<p class="text-justify">{{article.content}}</p>
		</article>		
	</div>
</section>
<section class="about-me">
	<div class="content" >
		<div class="col-4 my-image">
		</div>
		<div class="col-8">
			<h2>{{pageTitle}}</h2>
			<p>{{aboutMe}}</p>

			<div class="row">
				<article class="col-6" ng-repeat="interest in interests">
				<h3>{{interest.title}}</h3>
				<p class="text-justify">{{interest.content}}</p>
				</article>
			</div>
		</div>
	</div>
	
</section>