@font-face {
    font-family: roboto-bold;
    src: url("../../assets/fonts/roboto/woff/Roboto-Bold.woff") format("woff");
}

@font-face {
    font-family: roboto-black;
    src: url("../../assets/fonts/roboto/woff/Roboto-Black.woff") format("woff");
}

@font-face {
    font-family: roboto-black-italic;
    src: url("../../assets/fonts/roboto/woff/Roboto-BlackItalic.woff") format("woff");
}

@font-face {
    font-family: roboto-regular;
    src: url("../../assets/fonts/roboto/woff/Roboto-BoldCondensed.woff") format("woff");
}

@font-face {
    font-family: roboto-boldcndenseditalic;
    src: url("../../assets/fonts/roboto/woff/Roboto-BoldCondensedItalic.woff") format("woff");
}

@font-face {
    font-family: roboto-bolditalic;
    src: url("../../assets/fonts/roboto/woff/Roboto-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: roboto-cndensed;
    src: url("../../assets/fonts/roboto/woff/Roboto-Condensed.woff") format("woff");
}

@font-face {
    font-family: roboto-cndenseditalic;
    src: url("../../assets/fonts/roboto/woff/Roboto-CondensedItalic.woff") format("woff");
}

@font-face {
    font-family: roboto-italic;
    src: url("../../assets/fonts/roboto/woff/Roboto-Italic.woff") format("woff");
}

@font-face {
    font-family: roboto-light;
    src: url("../../assets/fonts/roboto/woff/Roboto-Light.woff") format("woff");
}

@font-face {
    font-family: roboto-italic;
    src: url("../../assets/fonts/roboto/woff/Roboto-Italic.woff") format("woff");
}

@font-face {
    font-family: roboto-lightitalic;
    src: url("../../assets/fonts/roboto/woff/Roboto-LightItalic.woff") format("woff");
}

@font-face {
    font-family: roboto-medium;
    src: url("../../assets/fonts/roboto/woff/Roboto-Medium.woff") format("woff");
}

@font-face {
    font-family: roboto-mediumitalic;
    src: url("../../assets/fonts/roboto/woff/Roboto-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: roboto-regular;
    src: url("../../assets/fonts/roboto/woff/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: roboto-thin;
    src: url("../../assets/fonts/roboto/woff/Roboto-Thin.woff") format("woff");
}

@font-face {
    font-family: roboto-thinitalic;
    src: url("../../assets/fonts/roboto/woff/Roboto-ThinItalic.woff") format("woff");
}

.container {
    margin-bottom: 50px;
    overflow: hidden;
}

.container-fluid {
    width: 100%;
}

.content {
    width: 1024px;
    margin: 0 auto;
}

[class*='col-'] {
    float: left;
    padding: 10px;
}


/* Clearfix */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Main Widths */

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.666666667%;
}

.col-10 {
    width: 83.333333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.6666666667%;
}

.col-7 {
    width: 58.3333333334%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-4 {
    width: 33.33%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.6666666667%;
}

.col-1 {
    width: 8.33%;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    /* Removes padding behaviour on widths */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #919191;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto-regular;
    background-color: #ecf0f5;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #566366;
    text-transform: uppercase;
    margin: 20px 0;
}

h2 {
    font-size: 20px;
}

hr,
.divider {
    background: #ccc none repeat scroll 0 0;
    border: medium none;
    height: 1px;
    margin: 10px 0;
}

p {
    line-height: 25px;
    text-align: justify;
}

section {
    padding: 30px 0;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.btn-default {
    border: 5px solid #2ecc71;
    color: #2ecc71;
}

.btn-large {
    font-size: 30px;
    padding: 20px 30px;
    text-transform: uppercase;
}

.range {
    background: #f2f2f1 none repeat scroll 0 0;
    height: 12px;
    width: 100%;
}

.range .pointer {
    background: #2ecc71 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 8px;
    line-height: 12px;
    padding: 0 5px;
}

i {
    color: #2ecc71;
    padding: 5px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

.img-responsive {
    max-width: 100%;
}

.labels {
    background: #2ecc71 none repeat scroll 0 0;
    color: #fff;
    padding: 0 5px;
}

img.responsive-image {
    max-width: 100%;
}

.box {
    position: relative;
    border-radius: 0px;
    background: #ffffff;
    border-top: 3px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.time-label {
    margin: 10px 0 10px -41px;
    z-index: 2;
    color: #fff;
    
}

.profile .profile-info {
    padding: 18px;
}
.experience .timelines{
    position: relative;
}
.experience .timeline{
    margin-left: 60px;
}
.experience .timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #2ecc71;
    left: 31px;
    margin: 0;
    border-radius: 2px;
}

.top-nav {
    height: 70px;
    background-color: #252e30;
    text-transform: uppercase;
}

.top-nav .logo {
    font-size: 30px;
    font-family: roboto-bold;
    color: #2ecc71;
    margin: 8px 5px 0;
}

.top-nav .logo a {
    text-decoration: none;
    color: inherit;
}

.top-nav .logo:first-letter {
    background-color: #4b5456;
    color: #fff;
    padding: 6px 15px;
    margin-right: 5px;
    margin: 0 5px 0 0;
}

.top-nav .navbar {
    text-align: right;
    padding: 15px 0;
}

.top-nav .navbar li {
    display: inline;
    padding: 0 15px;
}

.top-nav .navbar li:last-child {
    padding-right: 0;
}

.top-nav .navbar a {
    font-size: 16px;
    color: #fff;
    font-family: roboto-bold;
    text-decoration: none;
}

.top-nav .navbar a:hover {
    color: #2ecc71;
}

.about-me {
    background: #FCFAF4 url("../../assets/images/profile.jpg") no-repeat scroll -140px 0;
    display: block;
    height: 570px;
}

.about-me h2 {
    font-size: 47px;
}

.stacks {
    list-style: outside none none;
}

.stacks h4 {
    color: #566366;
}

.experience-col {
    border-left: 1px solid #ccc;
}

.experience-col .company-logo {
    float: left;
    padding: 0 10px;
}

.portfolio-items {
    border: 1px solid #ddd;
    border-collapse: collapse;
    height: 137px;
    text-align: center;
}

.portfolio-items img {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    background-color: #252e30;
    bottom: 0;
    clear: both;
    float: left;
    height: 50px;
    opacity: 0.9;
    position: fixed;
    text-transform: uppercase;
    width: 100%;
}

.footer .social {
    list-style: outside none none;
    text-align: center;
}

.footer .social li {
    display: inline;
}


/*# sourceMappingURL=style.css.map */
